@inherits UmbracoTemplatePage

<!DOCTYPE html>

<html lang="@Culture">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>gaerdin.se</title>

    <link rel="stylesheet" href="~/Static/css/style.min.css"/>
</head>
<body>
<div>

    @RenderBody()

</div>
</body>
</html>
