@inherits UmbracoTemplatePage

<!DOCTYPE html>

<html lang="@Culture">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>gaerdin.se</title>

    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <link rel="stylesheet" href="~/Static/css/style.min.css"/>
</head>
<body>
<div>

    @RenderBody()

</div>

    <script type="text/javascript" src="~/Static/js/main.min.js"></script>
</body>
</html>
