@using umbraco.NodeFactory
@inherits UmbracoViewPage<gaerdin_se.Models.DocTypes.MasterPageType>

@{
    var contentRoot = new Node(-1);
    var children = contentRoot.ChildrenAsList;
    
 }

<nav class="nav" role="navigation" aria-label="primary">
    <ul class="nav__list">
        
        @foreach (var item in children)
        {
            <li class="nav__list__item">
                <a href="@item.NiceUrl">@item.Name</a>
            </li>
        }

    </ul>
</nav>
